@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-account-book:before {
  content: "\e900";
}

._icon-account-favorites:before {
  content: "\e901";
}

._icon-account-orders:before {
  content: "\e902";
}

._icon-account-user:before {
  content: "\e903";
}

._icon-arrow:before {
  content: "\e904";
}

._icon-cart:before {
  content: "\e905";
}

._icon-check:before {
  content: "\e906";
}

._icon-circle-check:before {
  content: "\e907";
}

._icon-close:before {
  content: "\e908";
}

._icon-facebook:before {
  content: "\e909";
}

._icon-favorite:before {
  content: "\e90a";
}

._icon-insta:before {
  content: "\e90b";
}

._icon-scroll-down:before {
  content: "\e90c";
}

._icon-search:before {
  content: "\e90d";
}

._icon-twitter:before {
  content: "\e90e";
}

._icon-user:before {
  content: "\e90f";
}

._icon-out:before {
  content: "\e910";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #696984;
  line-height: 1;
  font-family: "Open Sans";
  font-size: 1.25rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Open Sans";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 105.0625rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

@supports (padding-left: clamp( 0.9375rem , 0.4055086269rem  +  2.6599568656vw , 3.25rem )) {
  [class*=__container_content] {
    padding-left: clamp( 0.9375rem , 0.4055086269rem  +  2.6599568656vw , 3.25rem );
  }
}

@supports not (padding-left: clamp( 0.9375rem , 0.4055086269rem  +  2.6599568656vw , 3.25rem )) {
  [class*=__container_content] {
    padding-left: calc(0.9375rem + 2.3125 * (100vw - 20rem) / 86.9375);
  }
}

@supports (padding-right: clamp( 0.9375rem , 0.4055086269rem  +  2.6599568656vw , 3.25rem )) {
  [class*=__container_content] {
    padding-right: clamp( 0.9375rem , 0.4055086269rem  +  2.6599568656vw , 3.25rem );
  }
}

@supports not (padding-right: clamp( 0.9375rem , 0.4055086269rem  +  2.6599568656vw , 3.25rem )) {
  [class*=__container_content] {
    padding-right: calc(0.9375rem + 2.3125 * (100vw - 20rem) / 86.9375);
  }
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  border-radius: 80px;
  font-weight: 500;
  padding: 0.8125rem 3.0625rem;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

@supports (font-size: clamp( 1.125rem , 0.5714285714rem  +  0.8928571429vw , 1.375rem )) {
  .button {
    font-size: clamp( 1.125rem , 0.5714285714rem  +  0.8928571429vw , 1.375rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 0.5714285714rem  +  0.8928571429vw , 1.375rem )) {
  .button {
    font-size: calc(1.125rem + 0.25 * (100vw - 62rem) / 28);
  }
}

.button-white {
  background: conic-gradient(from 90deg at 50% 100%, #FFF 0deg, #FFF 360deg);
  -webkit-box-shadow: 0px 20px 24px 0px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 20px 24px 0px rgba(0, 0, 0, 0.03);
  color: #5B5B5B;
}

.button-white-blue {
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 20px 24px 0px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 20px 24px 0px rgba(0, 0, 0, 0.03);
  color: #FFF;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: rgb(255, 255, 255);
}

.header._header-scroll {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 70px;
  padding-top: 0.1875rem;
  padding-bottom: 0.1875rem;
}

.header__logo {
  position: relative;
  z-index: 2;
  margin: 0px 0.625rem;
}

@supports (max-width: clamp( 4.375rem , 3.7998741912rem  +  2.8756290439vw , 6.875rem )) {
  .header__logo {
    max-width: clamp( 4.375rem , 3.7998741912rem  +  2.8756290439vw , 6.875rem );
  }
}

@supports not (max-width: clamp( 4.375rem , 3.7998741912rem  +  2.8756290439vw , 6.875rem )) {
  .header__logo {
    max-width: calc(4.375rem + 2.5 * (100vw - 20rem) / 86.9375);
  }
}

.header__logo img {
  width: 100%;
}

.header__actions {
  position: relative;
  z-index: 2;
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@supports ((-moz-column-gap: clamp( 2.5rem , 1.910496046rem  +  2.9475197699vw , 5.0625rem )) or (column-gap: clamp( 2.5rem , 1.910496046rem  +  2.9475197699vw , 5.0625rem ))) {
  .menu__body {
    -webkit-column-gap: clamp( 2.5rem , 1.910496046rem  +  2.9475197699vw , 5.0625rem );
       -moz-column-gap: clamp( 2.5rem , 1.910496046rem  +  2.9475197699vw , 5.0625rem );
            column-gap: clamp( 2.5rem , 1.910496046rem  +  2.9475197699vw , 5.0625rem );
  }
}

@supports not ((-moz-column-gap: clamp( 2.5rem , 1.910496046rem  +  2.9475197699vw , 5.0625rem )) or (column-gap: clamp( 2.5rem , 1.910496046rem  +  2.9475197699vw , 5.0625rem ))) {
  .menu__body {
    -webkit-column-gap: calc(2.5rem + 2.5625 * (100vw - 20rem) / 86.9375);
       -moz-column-gap: calc(2.5rem + 2.5625 * (100vw - 20rem) / 86.9375);
            column-gap: calc(2.5rem + 2.5625 * (100vw - 20rem) / 86.9375);
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports ((-moz-column-gap: clamp( 1.25rem , -7.0535714286rem  +  13.3928571429vw , 5rem )) or (column-gap: clamp( 1.25rem , -7.0535714286rem  +  13.3928571429vw , 5rem ))) {
  .menu__list {
    -webkit-column-gap: clamp( 1.25rem , -7.0535714286rem  +  13.3928571429vw , 5rem );
       -moz-column-gap: clamp( 1.25rem , -7.0535714286rem  +  13.3928571429vw , 5rem );
            column-gap: clamp( 1.25rem , -7.0535714286rem  +  13.3928571429vw , 5rem );
  }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , -7.0535714286rem  +  13.3928571429vw , 5rem )) or (column-gap: clamp( 1.25rem , -7.0535714286rem  +  13.3928571429vw , 5rem ))) {
  .menu__list {
    -webkit-column-gap: calc(1.25rem + 3.75 * (100vw - 62rem) / 28);
       -moz-column-gap: calc(1.25rem + 3.75 * (100vw - 62rem) / 28);
            column-gap: calc(1.25rem + 3.75 * (100vw - 62rem) / 28);
  }
}

.menu__link {
  display: block;
  padding: 0.78125rem 0.625rem;
  color: black;
  line-height: 1;
  position: relative;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

@supports (font-size: clamp( 1.125rem , 0.8482142857rem  +  0.4464285714vw , 1.25rem )) {
  .menu__link {
    font-size: clamp( 1.125rem , 0.8482142857rem  +  0.4464285714vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 0.8482142857rem  +  0.4464285714vw , 1.25rem )) {
  .menu__link {
    font-size: calc(1.125rem + 0.125 * (100vw - 62rem) / 28);
  }
}

.menu__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0%;
  -webkit-transition: width 0.3s ease 0s;
  -o-transition: width 0.3s ease 0s;
  transition: width 0.3s ease 0s;
  height: 0.0625rem;
  left: 0;
  background-color: black;
}

.actions-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 1.875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@supports ((-moz-column-gap: clamp( 0.9375rem , 0.7793404026rem  +  0.7907979871vw , 1.625rem )) or (column-gap: clamp( 0.9375rem , 0.7793404026rem  +  0.7907979871vw , 1.625rem ))) {
  .actions-header {
    -webkit-column-gap: clamp( 0.9375rem , 0.7793404026rem  +  0.7907979871vw , 1.625rem );
       -moz-column-gap: clamp( 0.9375rem , 0.7793404026rem  +  0.7907979871vw , 1.625rem );
            column-gap: clamp( 0.9375rem , 0.7793404026rem  +  0.7907979871vw , 1.625rem );
  }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , 0.7793404026rem  +  0.7907979871vw , 1.625rem )) or (column-gap: clamp( 0.9375rem , 0.7793404026rem  +  0.7907979871vw , 1.625rem ))) {
  .actions-header {
    -webkit-column-gap: calc(0.9375rem + 0.6875 * (100vw - 20rem) / 86.9375);
       -moz-column-gap: calc(0.9375rem + 0.6875 * (100vw - 20rem) / 86.9375);
            column-gap: calc(0.9375rem + 0.6875 * (100vw - 20rem) / 86.9375);
  }
}

.actions-header__namber {
  font-weight: 500;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

@supports (font-size: clamp( 1rem , 0.9424874191rem  +  0.2875629044vw , 1.25rem )) {
  .actions-header__namber {
    font-size: clamp( 1rem , 0.9424874191rem  +  0.2875629044vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.9424874191rem  +  0.2875629044vw , 1.25rem )) {
  .actions-header__namber {
    font-size: calc(1rem + 0.25 * (100vw - 20rem) / 86.9375);
  }
}

.actions-header__buttom {
  border-radius: 60px;
  background: #49BBBD;
  padding: 16px 34px;
  color: #FFF;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.icon-menu {
  display: none;
}

.footer {
  position: relative;
  background: #252641;
}

@supports (padding-top: clamp( 2.5rem , 2.0686556434rem  +  2.1567217829vw , 4.375rem )) {
  .footer {
    padding-top: clamp( 2.5rem , 2.0686556434rem  +  2.1567217829vw , 4.375rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 2.0686556434rem  +  2.1567217829vw , 4.375rem )) {
  .footer {
    padding-top: calc(2.5rem + 1.875 * (100vw - 20rem) / 86.9375);
  }
}

@supports (padding-bottom: clamp( 1.875rem , 1.7312185478rem  +  0.718907261vw , 2.5rem )) {
  .footer {
    padding-bottom: clamp( 1.875rem , 1.7312185478rem  +  0.718907261vw , 2.5rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.7312185478rem  +  0.718907261vw , 2.5rem )) {
  .footer {
    padding-bottom: calc(1.875rem + 0.625 * (100vw - 20rem) / 86.9375);
  }
}

.footer__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (gap: clamp( 2.125rem , 1.5498741912rem  +  2.8756290439vw , 4.625rem )) {
  .footer__head {
    gap: clamp( 2.125rem , 1.5498741912rem  +  2.8756290439vw , 4.625rem );
  }
}

@supports not (gap: clamp( 2.125rem , 1.5498741912rem  +  2.8756290439vw , 4.625rem )) {
  .footer__head {
    gap: calc(2.125rem + 2.5 * (100vw - 20rem) / 86.9375);
  }
}

@supports (margin-bottom: clamp( 3.125rem , 2.406092739rem  +  3.5945363048vw , 6.25rem )) {
  .footer__head {
    margin-bottom: clamp( 3.125rem , 2.406092739rem  +  3.5945363048vw , 6.25rem );
  }
}

@supports not (margin-bottom: clamp( 3.125rem , 2.406092739rem  +  3.5945363048vw , 6.25rem )) {
  .footer__head {
    margin-bottom: calc(3.125rem + 3.125 * (100vw - 20rem) / 86.9375);
  }
}

.footer__logo {
  max-width: 150px;
}

.footer__logo img {
  width: 100%;
}

.footer__line {
  width: 1px;
  height: 83px;
  background: #626381;
}

.footer__sub-title {
  color: #FFF;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.88px;
  max-width: 250px;
}

@supports (font-size: clamp( 1rem , 0.9137311287rem  +  0.4313443566vw , 1.375rem )) {
  .footer__sub-title {
    font-size: clamp( 1rem , 0.9137311287rem  +  0.4313443566vw , 1.375rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.9137311287rem  +  0.4313443566vw , 1.375rem )) {
  .footer__sub-title {
    font-size: calc(1rem + 0.375 * (100vw - 20rem) / 86.9375);
  }
}

.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

@supports (margin-bottom: clamp( 3.125rem , 2.5498741912rem  +  2.8756290439vw , 5.625rem )) {
  .footer__contact {
    margin-bottom: clamp( 3.125rem , 2.5498741912rem  +  2.8756290439vw , 5.625rem );
  }
}

@supports not (margin-bottom: clamp( 3.125rem , 2.5498741912rem  +  2.8756290439vw , 5.625rem )) {
  .footer__contact {
    margin-bottom: calc(3.125rem + 2.5 * (100vw - 20rem) / 86.9375);
  }
}

.footer__phone {
  font-weight: 500;
  letter-spacing: 1.04px;
  color: #FFF;
}

@supports (font-size: clamp( 1rem , 0.8562185478rem  +  0.718907261vw , 1.625rem )) {
  .footer__phone {
    font-size: clamp( 1rem , 0.8562185478rem  +  0.718907261vw , 1.625rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.8562185478rem  +  0.718907261vw , 1.625rem )) {
  .footer__phone {
    font-size: calc(1rem + 0.625 * (100vw - 20rem) / 86.9375);
  }
}

.footer__buttom {
  border-radius: 60px;
  background: #49BBBD;
  padding: 16px 34px;
  color: #FFF;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.footer__item {
  padding: 0px 20px;
}

.footer__item:nth-child(2) {
  border-left: 1px solid #626381;
  border-right: 1px solid #626381;
}

.footer__link {
  text-decoration: underline;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

@supports (font-size: clamp( 1rem , 0.9424874191rem  +  0.2875629044vw , 1.25rem )) {
  .footer__link {
    font-size: clamp( 1rem , 0.9424874191rem  +  0.2875629044vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.9424874191rem  +  0.2875629044vw , 1.25rem )) {
  .footer__link {
    font-size: calc(1rem + 0.25 * (100vw - 20rem) / 86.9375);
  }
}

.footer__inc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (font-size: clamp( 1rem , 0.9424874191rem  +  0.2875629044vw , 1.25rem )) {
  .footer__inc {
    font-size: clamp( 1rem , 0.9424874191rem  +  0.2875629044vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.9424874191rem  +  0.2875629044vw , 1.25rem )) {
  .footer__inc {
    font-size: calc(1rem + 0.25 * (100vw - 20rem) / 86.9375);
  }
}

.one-section {
  border-radius: 0 0 50% 50%;
  width: 100%;
  position: relative;
}

.one-section__backgraund {
  background-color: #49BBBD;
  border-radius: 0 0 50% 50%;
  width: 200%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -50%;
}

.one-section__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@supports (padding-top: clamp( 8.125rem , 7.9812185478rem  +  0.718907261vw , 8.75rem )) {
  .one-section__container {
    padding-top: clamp( 8.125rem , 7.9812185478rem  +  0.718907261vw , 8.75rem );
  }
}

@supports not (padding-top: clamp( 8.125rem , 7.9812185478rem  +  0.718907261vw , 8.75rem )) {
  .one-section__container {
    padding-top: calc(8.125rem + 0.625 * (100vw - 20rem) / 86.9375);
  }
}

.one-section__text-block {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 681px;
          flex: 0 1 681px;
}

.one-section__title {
  color: #FFF;
  font-weight: 700;
  margin-bottom: 2.125rem;
  line-height: 1.2;
}

@supports (font-size: clamp( 2.125rem , 1.8374370956rem  +  1.4378145219vw , 3.375rem )) {
  .one-section__title {
    font-size: clamp( 2.125rem , 1.8374370956rem  +  1.4378145219vw , 3.375rem );
  }
}

@supports not (font-size: clamp( 2.125rem , 1.8374370956rem  +  1.4378145219vw , 3.375rem )) {
  .one-section__title {
    font-size: calc(2.125rem + 1.25 * (100vw - 20rem) / 86.9375);
  }
}

.one-section__title span {
  color: #F48C06;
}

.one-section__sub-title {
  color: #FFF;
  font-family: "Nunito Sans";
  font-size: 24px;
  line-height: 160%;
  margin-bottom: 52px;
}

.one-section__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  row-gap: 30px;
}

.one-section__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.one-section__button-sorcl {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #252641;
  gap: 32px;
}

.one-section__button-sorcl::before {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80px;
          flex: 0 0 80px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #FFF url(../img/sectionOne/Polygon.svg) center no-repeat;
}

.one-section__pictyres-block {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.one-section__pictyres {
  max-height: 892px;
}

.one-section__pictyres img {
  height: 100%;
  width: 100%;
  border-radius: 0 0 30% 0;
}

.one-section__pictyrs {
  position: absolute;
  top: 10%;
  right: 15%;
}

.one-section__block-calendar {
  top: 30%;
  left: 0;
}

.one-section__block-mail {
  top: 50%;
  right: 0;
}

.one-section__block-user {
  bottom: 15%;
  left: 0;
}

.block-mail {
  position: absolute;
  z-index: 1;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 0.9375rem 1.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  max-width: 320px;
}

.block-mail__pictyres {
  width: 50px;
  height: 50px;
}

.block-mail__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2px;
}

.block-mail__title {
  color: #595959;
  font-weight: 700;
  line-height: 140%;
  /* 43.2px */
  letter-spacing: 0.48px;
}

@supports (font-size: clamp( 0.875rem , -0.536199095rem  +  2.2624434389vw , 1.5rem )) {
  .block-mail__title {
    font-size: clamp( 0.875rem , -0.536199095rem  +  2.2624434389vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 0.875rem , -0.536199095rem  +  2.2624434389vw , 1.5rem )) {
  .block-mail__title {
    font-size: calc(0.875rem + 0.625 * (100vw - 62.375rem) / 27.625);
  }
}

.block-mail__sub-title {
  font-weight: 600;
  line-height: 140%;
  /* 36px */
  letter-spacing: 0.4px;
}

@supports (font-size: clamp( 0.75rem , -0.943438914rem  +  2.7149321267vw , 1.5rem )) {
  .block-mail__sub-title {
    font-size: clamp( 0.75rem , -0.943438914rem  +  2.7149321267vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 0.75rem , -0.943438914rem  +  2.7149321267vw , 1.5rem )) {
  .block-mail__sub-title {
    font-size: calc(0.75rem + 0.75 * (100vw - 62.375rem) / 27.625);
  }
}

@supports (padding-top: clamp( 5rem , 4.281092739rem  +  3.5945363048vw , 8.125rem )) {
  .about-school {
    padding-top: clamp( 5rem , 4.281092739rem  +  3.5945363048vw , 8.125rem );
  }
}

@supports not (padding-top: clamp( 5rem , 4.281092739rem  +  3.5945363048vw , 8.125rem )) {
  .about-school {
    padding-top: calc(5rem + 3.125 * (100vw - 20rem) / 86.9375);
  }
}

@supports (padding-bottom: clamp( 5rem , 4.281092739rem  +  3.5945363048vw , 8.125rem )) {
  .about-school {
    padding-bottom: clamp( 5rem , 4.281092739rem  +  3.5945363048vw , 8.125rem );
  }
}

@supports not (padding-bottom: clamp( 5rem , 4.281092739rem  +  3.5945363048vw , 8.125rem )) {
  .about-school {
    padding-bottom: calc(5rem + 3.125 * (100vw - 20rem) / 86.9375);
  }
}

.about-school__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  margin-bottom: 40px;
}

.about-school__title {
  font-weight: 700;
  color: black;
}

@supports (font-size: clamp( 2rem , 1.7699496765rem  +  1.1502516175vw , 3rem )) {
  .about-school__title {
    font-size: clamp( 2rem , 1.7699496765rem  +  1.1502516175vw , 3rem );
  }
}

@supports not (font-size: clamp( 2rem , 1.7699496765rem  +  1.1502516175vw , 3rem )) {
  .about-school__title {
    font-size: calc(2rem + 1 * (100vw - 20rem) / 86.9375);
  }
}

.about-school__sub-title {
  line-height: 1.2;
}

@supports (font-size: clamp( 1.25rem , 1.1349748382rem  +  0.5751258088vw , 1.75rem )) {
  .about-school__sub-title {
    font-size: clamp( 1.25rem , 1.1349748382rem  +  0.5751258088vw , 1.75rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.1349748382rem  +  0.5751258088vw , 1.75rem )) {
  .about-school__sub-title {
    font-size: calc(1.25rem + 0.5 * (100vw - 20rem) / 86.9375);
  }
}

.about-school__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.about-school__block {
  border-radius: 20px;
  -webkit-box-shadow: 2px 2px 4px rgba(128, 128, 128, 0.288);
          box-shadow: 2px 2px 4px rgba(128, 128, 128, 0.288);
  padding: 1.25rem 1.875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.about-school__center {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  gap: 0.9375rem;
}

.block-leptop {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #dffaef;
  text-align: center;
}

.block-smiling {
  background-color: #faf5dc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.block-clock {
  background-color: #e6eef7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.block-book {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e6dcf5;
  text-align: center;
}

.block__imeges {
  max-width: 100px;
}

.block__imeges img {
  width: 100%;
}

@supports (margin-bottom: clamp( 3.75rem , 3.1748741912rem  +  2.8756290439vw , 6.25rem )) {
  .courses {
    margin-bottom: clamp( 3.75rem , 3.1748741912rem  +  2.8756290439vw , 6.25rem );
  }
}

@supports not (margin-bottom: clamp( 3.75rem , 3.1748741912rem  +  2.8756290439vw , 6.25rem )) {
  .courses {
    margin-bottom: calc(3.75rem + 2.5 * (100vw - 20rem) / 86.9375);
  }
}

.courses__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
  margin-bottom: 30px;
}

.courses__courses-menu {
  padding: 10px 12px;
  cursor: pointer;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border: 2px solid #49BBBD;
  min-width: 300px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

@supports (font-size: clamp( 1rem , 0.9712437096rem  +  0.1437814522vw , 1.125rem )) {
  .courses__courses-menu {
    font-size: clamp( 1rem , 0.9712437096rem  +  0.1437814522vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.9712437096rem  +  0.1437814522vw , 1.125rem )) {
  .courses__courses-menu {
    font-size: calc(1rem + 0.125 * (100vw - 20rem) / 86.9375);
  }
}

.courses__grown {
  border-radius: 20px 0px 0px 20px;
}

.courses__it {
  border-radius: 0px 20px 20px 0px;
}

.courses__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-courses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
  gap: 20px;
  background-color: #f3f4fa;
  width: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 15px;
}

.block-courses__pictures {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
}

.block-courses__pictures img {
  width: 100%;
}

.block-courses__data {
  padding: 20px 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 70%;
          flex: 0 1 70%;
}

.block-courses__title {
  color: black;
  font-weight: 600;
  margin-bottom: 20px;
}

@supports (font-size: clamp( 1.25rem , 1.1349748382rem  +  0.5751258088vw , 1.75rem )) {
  .block-courses__title {
    font-size: clamp( 1.25rem , 1.1349748382rem  +  0.5751258088vw , 1.75rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.1349748382rem  +  0.5751258088vw , 1.75rem )) {
  .block-courses__title {
    font-size: calc(1.25rem + 0.5 * (100vw - 20rem) / 86.9375);
  }
}

.block-courses__item {
  position: relative;
  padding-left: 17px;
  gap: 10px;
  line-height: 1.2;
}

@supports (font-size: clamp( 0.875rem , 0.8174874191rem  +  0.2875629044vw , 1.125rem )) {
  .block-courses__item {
    font-size: clamp( 0.875rem , 0.8174874191rem  +  0.2875629044vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.8174874191rem  +  0.2875629044vw , 1.125rem )) {
  .block-courses__item {
    font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 86.9375);
  }
}

.block-courses__item:not(:last-child) {
  margin-bottom: 7px;
}

.block-courses__item::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 7px;
          flex: 0 0 7px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #49BBBD;
}

.courses-active {
  background-color: #49BBBD;
  color: white;
}

.children-block {
  width: 100%;
}

.block-hidden {
  display: none;
}

@supports (margin-bottom: clamp( 3.75rem , 3.1748741912rem  +  2.8756290439vw , 6.25rem )) {
  .contact {
    margin-bottom: clamp( 3.75rem , 3.1748741912rem  +  2.8756290439vw , 6.25rem );
  }
}

@supports not (margin-bottom: clamp( 3.75rem , 3.1748741912rem  +  2.8756290439vw , 6.25rem )) {
  .contact {
    margin-bottom: calc(3.75rem + 2.5 * (100vw - 20rem) / 86.9375);
  }
}

.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(157, 204, 255, 0.3);
  border-radius: 20px;
  padding: 40px 30px;
}

.contact__imeges {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}

.contact__imeges img {
  width: 100%;
  border-radius: 15px;
}

.contact__content {
  border-radius: 20px;
  padding: 40px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.contact__title {
  margin-bottom: 40px;
  text-align: center;
  color: #0f1020;
  font-weight: 600;
}

@supports (font-size: clamp( 1.5rem , 1.2699496765rem  +  1.1502516175vw , 2.5rem )) {
  .contact__title {
    font-size: clamp( 1.5rem , 1.2699496765rem  +  1.1502516175vw , 2.5rem );
  }
}

@supports not (font-size: clamp( 1.5rem , 1.2699496765rem  +  1.1502516175vw , 2.5rem )) {
  .contact__title {
    font-size: calc(1.5rem + 1 * (100vw - 20rem) / 86.9375);
  }
}

.contact__click {
  background-color: #49BBBD;
  color: white;
  font-weight: 700;
  padding: 15px 10px;
  border-radius: 10px;
  text-align: center;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@supports (font-size: clamp( 1rem , 0.9424874191rem  +  0.2875629044vw , 1.25rem )) {
  .contact__click {
    font-size: clamp( 1rem , 0.9424874191rem  +  0.2875629044vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.9424874191rem  +  0.2875629044vw , 1.25rem )) {
  .contact__click {
    font-size: calc(1rem + 0.25 * (100vw - 20rem) / 86.9375);
  }
}

.no-webp .contact__click:nth-child(2)::before{
  background: url(../img/ico/phone.png) center/cover no-repeat; }

.contact__click:nth-child(2)::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
}

.contact__click:nth-child(3)::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background: url(../img/ico/telegram.svg) center/cover no-repeat;
}

.contact__click:nth-child(4)::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background: url(../img/ico/viber.svg) center/cover no-repeat;
}

@supports (margin-bottom: clamp( 3.75rem , 3.1748741912rem  +  2.8756290439vw , 6.25rem )) {
  .experts {
    margin-bottom: clamp( 3.75rem , 3.1748741912rem  +  2.8756290439vw , 6.25rem );
  }
}

@supports not (margin-bottom: clamp( 3.75rem , 3.1748741912rem  +  2.8756290439vw , 6.25rem )) {
  .experts {
    margin-bottom: calc(3.75rem + 2.5 * (100vw - 20rem) / 86.9375);
  }
}

.experts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@supports (gap: clamp( 2.5rem , 2.2124370956rem  +  1.4378145219vw , 3.75rem )) {
  .experts__container {
    gap: clamp( 2.5rem , 2.2124370956rem  +  1.4378145219vw , 3.75rem );
  }
}

@supports not (gap: clamp( 2.5rem , 2.2124370956rem  +  1.4378145219vw , 3.75rem )) {
  .experts__container {
    gap: calc(2.5rem + 1.25 * (100vw - 20rem) / 86.9375);
  }
}

.experts__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
  max-width: 660px;
}

.experts__title {
  font-weight: 700;
  margin-bottom: 24px;
}

@supports (font-size: clamp( 1.625rem , 1.5387311287rem  +  0.4313443566vw , 2rem )) {
  .experts__title {
    font-size: clamp( 1.625rem , 1.5387311287rem  +  0.4313443566vw , 2rem );
  }
}

@supports not (font-size: clamp( 1.625rem , 1.5387311287rem  +  0.4313443566vw , 2rem )) {
  .experts__title {
    font-size: calc(1.625rem + 0.375 * (100vw - 20rem) / 86.9375);
  }
}

.experts__text {
  line-height: 2.2;
  margin-bottom: 2.2rem;
}

.experts__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.14rem;
}

.experts__block {
  background-color: #f4f5f6;
  border-radius: 1.7rem;
  padding: 1.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
  width: 13.0625rem;
  height: 12.5625rem;
}

.experts__img {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.experts__img img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(2);
      -ms-transform: scale(2);
          transform: scale(2);
}

.experts__mini-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.experts__min-title {
  color: #49BBBD;
  font-weight: 700;
}

@supports (font-size: clamp( 1.125rem , 1.0674874191rem  +  0.2875629044vw , 1.375rem )) {
  .experts__min-title {
    font-size: clamp( 1.125rem , 1.0674874191rem  +  0.2875629044vw , 1.375rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 1.0674874191rem  +  0.2875629044vw , 1.375rem )) {
  .experts__min-title {
    font-size: calc(1.125rem + 0.25 * (100vw - 20rem) / 86.9375);
  }
}

.experts__min-text {
  font-weight: 700;
  line-height: 1.2;
}

@supports (font-size: clamp( 1rem , 0.9712437096rem  +  0.1437814522vw , 1.125rem )) {
  .experts__min-text {
    font-size: clamp( 1rem , 0.9712437096rem  +  0.1437814522vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.9712437096rem  +  0.1437814522vw , 1.125rem )) {
  .experts__min-text {
    font-size: calc(1rem + 0.125 * (100vw - 20rem) / 86.9375);
  }
}

.experts__pictures {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 600px;
          flex: 0 1 600px;
}

.experts__pictures img {
  width: 100%;
  border-radius: 20px;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 61.99875em) {
@supports (padding-left: clamp( 2.325rem , -6.6098750702rem  +  14.4113793749vw , 9.0625rem )) {
    [class*=__container] {
      padding-left: clamp( 2.325rem , -6.6098750702rem  +  14.4113793749vw , 9.0625rem );
    }
}

@supports not (padding-left: clamp( 2.325rem , -6.6098750702rem  +  14.4113793749vw , 9.0625rem )) {
    [class*=__container] {
      padding-left: calc(2.325rem + 6.7375 * (100vw - 61.99875rem) / 46.75125);
    }
}

@supports (padding-right: clamp( 2.325rem , -6.6098750702rem  +  14.4113793749vw , 9.0625rem )) {
    [class*=__container] {
      padding-right: clamp( 2.325rem , -6.6098750702rem  +  14.4113793749vw , 9.0625rem );
    }
}

@supports not (padding-right: clamp( 2.325rem , -6.6098750702rem  +  14.4113793749vw , 9.0625rem )) {
    [class*=__container] {
      padding-right: calc(2.325rem + 6.7375 * (100vw - 61.99875rem) / 46.75125);
    }
}
}

@media (min-width: 61.99875em) and (min-width: 108.75em) {
  [class*=__container] {
    padding-left: inherit;
  }

  [class*=__container] {
    padding-right: inherit;
  }
}

@media (max-width: 996px) {
  .courses__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 4px;
  }

  .courses__grown {
    border-radius: 20px;
  }

  .courses__children {
    border-radius: 20px;
  }

  .courses__it {
    border-radius: 20px;
  }
}

@media (max-width: 934px) {
  .about-school__blocks {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .about-school__center {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .block-leptop {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .block-smiling {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .block-clock {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    text-align: center;
  }

  .block-book {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

@media (max-width: 450px) {
  .actions-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 61.99875em) {
@supports (padding-left: clamp( 0.9375rem , 0.2767857143rem  +  3.3035714286vw , 2.325rem )) {
    [class*=__container] {
      padding-left: clamp( 0.9375rem , 0.2767857143rem  +  3.3035714286vw , 2.325rem );
    }
}

@supports not (padding-left: clamp( 0.9375rem , 0.2767857143rem  +  3.3035714286vw , 2.325rem )) {
    [class*=__container] {
      padding-left: calc(0.9375rem + 1.3875 * (100vw - 20rem) / 42);
    }
}

@supports (padding-right: clamp( 0.9375rem , 0.2767857143rem  +  3.3035714286vw , 2.325rem )) {
    [class*=__container] {
      padding-right: clamp( 0.9375rem , 0.2767857143rem  +  3.3035714286vw , 2.325rem );
    }
}

@supports not (padding-right: clamp( 0.9375rem , 0.2767857143rem  +  3.3035714286vw , 2.325rem )) {
    [class*=__container] {
      padding-right: calc(0.9375rem + 1.3875 * (100vw - 20rem) / 42);
    }
}

  .button {
    padding: 0.625rem 2.1875rem;
    font-size: 18px;
  }

  .button-white {
    min-width: 200px;
  }

  .button-white-blue {
    min-width: 200px;
  }

  .menu__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 40px;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
    left: -100%;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    padding: 9.375rem 0.9375rem 2.5rem;
    background-color: white;
  }

  .menu__body::before {
    content: "";
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 4.375rem;
    background-color: #49BBBD;
    z-index: 2;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    gap: 10px;
  }

  .menu__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }

  .menu__item::after {
    content: "";
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #49BBBD;
  }

  .menu__link {
    font-size: 1.625rem;
    font-weight: 600;
  }

  .actions-header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    gap: 20px;
  }

  .actions-header__namber {
    border-radius: 60px;
    border: 1px solid #49BBBD;
    padding: 16px 34px;
    color: #49BBBD;
    -webkit-transition: background-color 0.3s ease 0s;
    -o-transition: background-color 0.3s ease 0s;
    transition: background-color 0.3s ease 0s;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .block-mail {
    padding: 0.3125rem 0.625rem;
  }

  .about-school__center {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .block-book {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .experts__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .no-webp .experts__blocks{
    background: url(../img/send/cabinet.jpg) top/cover no-repeat; }

  .experts__blocks {
    height: 520px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    border-radius: 20px;
    padding: 1.25rem;
  }

  .experts__pictures {
    display: none;
  }
}

@media (max-width: 47.99875em) {
  .one-section__pictyrs {
    right: 0%;
  }

  .one-section__block-calendar {
    top: 40%;
  }

  .one-section__block-mail {
    top: 60%;
  }

  .one-section__block-user {
    bottom: 5%;
  }

  .block-courses {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contact__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contact__content {
    width: 100%;
  }

  .experts__blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .experts__block {
    width: 100%;
    height: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem 1.7rem;
  }

  .experts__img img {
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5);
  }

  .experts__mini-block {
    gap: 10px;
  }
}

@media (min-width: 61.99875em) and (max-width: 61.99875em) {
  [class*=__container] {
    padding-left: inherit;
  }

  [class*=__container] {
    padding-right: inherit;
  }
}

@media (max-width: 61.99875em) and (min-width: 62em) {
  [class*=__container] {
    padding-left: inherit;
  }

  [class*=__container] {
    padding-right: inherit;
  }
}

@media (any-hover: hover) {
  .button-white:hover {
    background: rgba(201, 241, 241, 0.5411764706);
  }

  .button-white-blue:hover {
    background: rgba(73, 187, 189, 0.9921568627);
  }

  .menu__link:hover {
    color: black;
  }

  .menu__link:hover::after {
    width: 100%;
  }

  .actions-header__buttom:hover {
    background: #3a9496;
  }

  .footer__buttom:hover {
    background: #3a9496;
  }

  .footer__link:hover {
    color: #FFF;
  }

  .about-school__block:hover {
    -webkit-transform: scale(1.01);
        -ms-transform: scale(1.01);
            transform: scale(1.01);
  }

  .courses__courses-menu:hover {
    color: rgba(189, 202, 221, 0.5215686275);
  }

  .courses-active:hover {
    color: white;
  }

  .contact__click:hover {
    background-color: rgba(73, 187, 189, 0.7607843137);
  }
}

.webp .contact__click:nth-child(2)::before{ background: url(../img/ico/phone.webp) center/cover no-repeat; }

@media (max-width: 61.99875em){

  .webp .experts__blocks{ background: url(../img/send/cabinet.webp) top/cover no-repeat; }
}